.cmp-heroslider {
  background-color: transparent;

  > .cmp-heroslider__container {
    max-width: 1500px;
    width: 100%;
    border: solid 2px red;
    margin: auto;
    max-height: 944px;
    height: 100%;

    > .cmp-heroslider__viewfinder {
      margin: auto;
      overflow: hidden;
    }

    .cmp-heroslider__list {
      display: flex;
      flex-direction: row;
      padding: 0;
      list-style: none;
      margin: 0;

      &.--images {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        transition: -webkit-transform .6s ease-in-out;
        transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
      }

      &.--links {
        position: relative;
        top: -150px;
        margin: 0 50px;
      }

      .cmp-heroslider__image {
        height: 100%;
        width: 1500px;
      }

      .cmp-heroslider__link-item {
        flex: 1;
        color: white;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;

        >.cmp-heroslider__link-title {
          &:hover {
            cursor: pointer;
            color: yellow;
          }
        }

        .cmp-heroslider__anchors {
          list-style: none;
          padding: 0;

          .cmp-heroslider__anchor {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}